.project-container {
  display: flex;
  flex-direction: column;

  .row {
    &:first-child {
      height: 75vh;
    }
    &:nth-child(2) {
      height: 25vh;
    }
  }

  .project-sidebar-wrapper {
    position: relative;
    display: flex;
    flex: 1 0 25%;
    flex-direction: row;
    width: 25vw;
    min-width: 120px;
    height: 100%;
    overflow: hidden;

    .project-sidebar-container {
      position: absolute;
      width: 100%;
      height: 100%;

      .project-sidebar-toolbar {
        padding: 8px;
        height: 5%;
        user-select: none;
      }

      #project-components-wrapper {
        height: 95%;
        width: 100%;
        overflow: auto;

        svg {
          height: 95%;
          width: 120%;
          position: relative;
          height: 100%;
          min-width: 100%;
          background-size: 40px 40px;
          background-image: linear-gradient(to right, grey 1px, transparent 1px),
            linear-gradient(to bottom, grey 1px, transparent 1px);

          path {
            pointer-events: none;
          }
        }
      }
    }
  }

  .canvas-container {
    display: flex;
    min-width: 600px;
    flex: 3 0 75%;
    .canvas-handler {
      width: 100%;
      height: 100%;
    }
  }

  .keyframes-container {
    width: 100%;
    height: 100%;
    background-color: #454545;
  }
}
