
.home-container {

  .main-hero {
    margin-top: 6rem;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;

    > * {
      margin: 16px;
    }

    .header-container {
      min-width: 810px;
      font-size: 3.5rem;
      font-weight: bolder;
    }

    .image-wrapper {
      height: 600px;
      width: 500px;
      background-color: var(--primary);
    }
  }
}
