nav {
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: .75rem 10%;
  background-color: var(--secondary);
  color: var(--dark);

  .nav-left {
    display: flex;
    flex-direction: row;
    margin-right: auto;
  }
  .nav-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}
